.Sidebar {
    width: 250px; /* Adjust width as needed */
    background-color: #f9f9f9;
    border-left: 1px solid #d9d2d2;
    padding: 20px;
  }
  
  .SidebarHeader {
    margin-bottom: 20px;
    margin-top: 75px;
  }
  
  .SidebarHeader h2 {
    margin: 0;
    color: #333;
  }
  
  .SidebarContent {
    display: flex;
    flex-direction: column;
  }
  
  .SidebarItem {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  .TopicName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .TopicInfo {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #666;
  }
  
  /* You might want to add additional styling for hover effects, font sizes, etc. */
  