.hero {
  color: #505D58;
  background-color: #f0f4fc;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Change to space-between for this layout */
}

.content {
  max-width: 50%; /* Adjust based on your content width preference */
  text-align: left; /* Text aligned to the left */
}

.tagline {
  display: block;
  font-size: 0.9em;
  color: #4cbcbc;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 2.5em; /* Adjust size as necessary */
  font-weight: bold;
  margin: 0 0 20px; /* Remove text shadow and adjust margin */
}

.hero p {
  font-size: 1em; /* Adjust font size as necessary */
  color: #969F95;
  margin: 0 0 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-top: 20px; /* Adjust margin-top as necessary */
}

.search-box input {
  padding: 10px 15px; /* Adjust padding as necessary */
  border-radius: 5px; /* Smaller border-radius for a flatter look */
  border: 1px solid #969F95;
  background-color: #FFFFFF;
  color: #505D58;
  width: auto; /* Let the width be content-driven */
}

.search-box button {
  padding: 10px 20px; /* Adjust padding as necessary */
  border: none;
  background-color: #4cbcbc;
  color: #FFFFFF;
  border-radius: 5px; /* Smaller border-radius for a flatter look */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #3da6a6; /* Slightly darker shade on hover */
}

.hero-image {
  max-width: 50%; /* Set a max-width for the image container */
}

.hero-image img {
  max-width: 100%;
  height: auto; /* Adjust height as necessary, could use percentages or vh units */
  border-radius: 20px; /* Adjust border-radius as necessary */
}
