* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Titillium Web', sans-serif; */
}


:root {
    --mainColor: white;
    --mainColorLight: #5767aa;
    --secondaryColor: #ffb2d7;
    --textColor: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.5rem;
    color: #666;
    display: inline-block;
    position: relative;
}

nav a:hover {
    color: var(--secondaryColor);
}

nav a::after{
    position: absolute;
    content: '';
    top: 35px;
    left: 0;
    width: 0px;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: 0.5s;
}
  
nav a:hover::after{
    width: 100%
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}